.recipe-list-item-photo.bra{


  &.recipe3-1 {
    background: url(../images/bra_recipe3_1.jpg) no-repeat 0 0;
  }
  &.recipe3-2 {
    background: url(../images/bra_recipe3_2.jpg) no-repeat 0 0;
  }
  &.recipe3-3 {
    background: url(../images/bra_recipe3_3.jpg) no-repeat 0 0;
  }
  &.recipe3-4 {
    background: url(../images/bra_recipe3_4.jpg) no-repeat 0 0;
  }
  &.recipe3-5 {
    background: url(../images/bra_recipe3_5.jpg) no-repeat 0 0;
  }
  &.recipe3-6 {
    background: url(../images/bra_recipe3_6.jpg) no-repeat 0 0;
  }

}



.bra-food-image{
  background:url(../images/bra_b_image1.jpg) no-repeat;
}
