.bra-food-image{
  background:url(../images/bra_b_image1.jpg) no-repeat;
}

.food-icon.bra-icon1-1 {
  background-position: 0 -86px;
  margin-right: 22px;
}

.food-icon.bra-icon1-2 {
  background-position: -416px -86px;
  margin-right: 22px;
}

.food-icon.bra-icon1-3 {
  background-position: -520px -86px;
}

.food-icon.bra-icon2-1 {
  background-position: 0 -86px;
  margin-right: 22px;
}

.food-icon.bra-icon2-2 {
  background-position: -416px -86px;
  margin-right: 22px;
}

.food-icon.bra-icon2-3 {
  background-position: -520px -86px;
}



.food-icon.bra-icon3-1 {
  background-position: 0 -86px;
  margin-right: 22px;
}

.food-icon.bra-icon3-2 {
  background-position: -416px -86px;
  margin-right: 22px;
}

.food-icon.bra-icon3-3 {
  background-position: -520px -86px;
}



