.event{
  &-wrap{
    @extend %clearfix;
  }

  &-icon{

  }

  &-list{
    height:609px;
    position:relative;
    text-indent:-99999em;

    &-item{
      width:1200px;
      height:609px;
      position:absolute;
      top:0;
      left:0;
      overflow:hidden;

      &-image{
        display:block;
        width:1200px;
        height:609px;
      }
    }
  }

  &-radius{
    @extend %clearfix;
    padding:0 489px 0 495px;
    box-sizing:border-box;
    margin-top:21px;

    &-item{
      width:15px;
      height:15px;
      background:#ddd;
      border-radius:50%;
      text-indent:-999999em;
      float:left;
      margin-right:35px;
      cursor:pointer;

      &:last-child{
        margin:0;
      }
    }
  }

  &-text{
    text-align:center;
    margin-top:38px;

    &-name{
      font-size:39px;
    }

    &-day{
      margin-top:15px;
      font-size:23px;
    }
    &-paragraph{
      font-size:14px;
      line-height:1.4;
      margin-top:35px;
    }
  }

  &-icon{
    width:81px;
    height:80px;
    background:url(../images/img_sprite.png) no-repeat -232px 0;
    text-indent:-999999em;
    margin:30px 0 84px 559px;
  }
}

.event-list-item-image.left200 {
  transform: translate(-200%, 0);
}

.event-list-item-image.left100 {
  transform: translate(-100%, 0);
}

.event-list-item-image.center {
  transform: translate(0, 0);
}

.event-list-item-image.right100 {
  transform: translate(100%, 0);
}

.event-list-item-image.right200 {
  transform: translate(200%, 0);
}

.css-sliding-view-image.ani {
  transition: transform 1s ease-out;
}