%clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.big-image-part1{
  width:100%;
  height:830px;
  text-indent:-99999em;
  background-attachment: fixed;
}

.big-image{
  width:100%;
  height:750px;
  text-indent:-99999em;
  background-attachment: fixed;
}

.gray-texture{
  width:100%;
  background:url(../images/gray-texture.jpg);
  box-sizing:border-box;
}

.white-texture{
  width:100%;
  background: coral url(../images/white-texture.jpg);
  box-sizing: border-box;
}

.inner-box{
  width:1200px;
  margin:0 auto;
  //text-align: center;
}

.title-yellow{
  font-size: 91px;
  text-align: center;
  letter-spacing:3px;
  margin-bottom:54px;

  &:after {
    content: "";
    display: block;
    width: 228px;
    height: 6px;
    background: #ffff00;
    margin: 35px auto 0;
  }
}

.food-title-red{
  position:relative;
  width:253px;
  margin: 0 auto;
  height:31px;
}

.food-title-red:before{
  content: "";
  display:block;
  position:absolute;
  width:159px;
  height:148px;
  background: url(../images/spoon-icon.png)no-repeat;
  top: -65px;
  left: 41px;
}

.food-title-red:after{
  content: "";
  display: block;
  width: 228px;
  height: 6px;
  background: #c73740;
  position:absolute;
  top: 75px;
  left: 11px;
  margin: 35px auto 0;

}

.title-red {
  font-size: 91px;
  margin-bottom:54px;
  text-align: center;
  letter-spacing:3px;

  &:after {
    content: "";
    display: block;
    width: 228px;
    height: 6px;
    background: #c73740;
    margin: 35px auto 0;

  }
}

.food-title{
  content:"";
  display:block;
  position:absolute;
  font-size: 91px;
  letter-spacing:3px;
  top:0;
  left:0;
}

.title-cont {
  font-size: 91px;

  &:after {
    content: "";
    display: block;

    width: 228px;
    height: 6px;
    background: #c73740;
    margin: 39px 0 54px 486px;
  }
}

.intro{
  font-size:26px;
  text-align: center;
}

.white{
  color:#ccc;
}

.pt253{
  padding-top:253px;
}

.pb253{
  padding-bottom:253px;
}

.mb189{
  margin-bottom:189px;
}

.mt147{
  margin-top:147px;
}

.relative{
  position:relative;
}

.height{
  height:1990px;
}

.footer{
  padding:35px 0;
  text-align: center;
  line-height:1.4;
}