.event{
  &-wrap{
    @extend %clearfix;
    position:relative;
  }

  &-icon{

  }

  &-list{
    height:609px;
    position:relative;
    overflow:hidden;

    &-item{
      width:1200px;
      height:609px;
      position:absolute;
      top:0;
      left:0;

      &.left100 {
        transform: translate(-100%, 0);
      }

      &.center {
        transform: translate(0, 0);
      }

      &.right100 {
        transform: translate(100%, 0);
      }

      &.ani {
        transition: transform 1s ease-out;
      }

      &-image{
        display:block;
        width:1200px;
        height:609px;
      }
    }
  }

  &-arrow{
    &-wrap{

      width:1200px;
      text-indent:-99999em;
      position:absolute;
      top:164px;
      @extend %clearfix;

      &-left{
        width:21px;
        height:36px;
        background:url(../images/left_arrow.png) no-repeat 0 0;
        margin-left:4px;
        cursor:pointer;
      }

      &-right{
        width:21px;
        height:40px;
        background:url(../images/right_arrow.png) no-repeat 0 0;
        margin-left:4px;
        cursor:pointer;
      }
    }

    &-wrap2{
      width:31px;
      height:609px;
      background:#000000;
      opacity:0.7;
      box-sizing: border-box;
      padding-top: 280px;
      cursor:pointer;

      &:nth-child(1){
        float:left;
      }

      &:nth-child(2){
        float:right;
      }
    }
  }

  &-radius{
    @extend %clearfix;
    padding:0 489px 0 495px;
    box-sizing:border-box;
    margin-top:21px;

    &-item{
      width:15px;
      height:15px;
      background:#ddd;
      border-radius:50%;
      text-indent:-99999em;
      float:left;
      margin-right:35px;
      cursor:pointer;

      &.on{
        background:#ffff00;
      }

      &:last-child{
        margin:0;
      }
    }
  }

  &-text{
    text-align:center;
    margin-top:38px;

    &-name{
      font-size:27px;
    }

    &-day{
      margin-top:15px;
      font-size:17px;
    }
    &-paragraph{
      font-size:14px;
      line-height:1.6;
      margin-top:35px;
    }
  }

  &-icon{
    width:81px;
    height:80px;
    background:url(../images/img_sprite.png) no-repeat -232px 0;
    text-indent:-99999em;
    margin:30px 0 84px 559px;
  }
}