.res {
  &-full {
    @extend %clearfix;
    margin-top: 229px;
  }

  &-image {
    &-wrap {
      width: 612px;
      height: 567px;
      float: left;
    }

    &-thumbnail{
      width:100%;
      position:absolute;
      transform:translateX(-50%);
      left:50%;
    }


      &-top {
        width: 612px;
        height: 399px;
        margin-bottom: 0;
      }

      &-image-big.full-height {
        height: 100%;
      }

      &-image-big.full-width {
        width: 100%;
      }


      &-bottom {
        width: 612px;
        &-wrap {
          width: 153px;
          height: 168px;
          float: left;
          overflow: hidden;
          position:relative;
        }
      }


      .image-thumbnail.full-height {
        height: 100%;
      }

      .image-thumbnail.full-width {
        width: 100%;
      }
    }

    &-explain-wrap {
      width: 470px;
      float: right;
    }

    &-text {

      &-wrap {
        height: 100px;

        &-title {
          font-size: 39px;
          padding-bottom: 27px;
        }

        &-paragraph {
          font-size: 13px;
          line-height: 1.4;
        }

      }

    }

    &-map-wrap {

      @extend %clearfix;

      margin-top: 278px;
      float: left;
    }

    &-map-image {
      width: 204px;
      height: 189px;

      text-indent: -99999em;
      float: left;

      margin-right: 40px;

      cursor:pointer;
    }

    &-map-link{
      width:204px;
      height:189px;
      display:block;
    }




    &-address {
      width: 196px;
      float: left;
    }

  }


.height100 {
  height: 100%;
  width: auto;
}

