.japan{
  &:before{
    content:"";
    display:block;
    width:104px;
    height:63px;
    background:url(../images/nation_jp.png) no-repeat 0 0;
    float:left;
    margin:0;
  }
}

.food {

  &-section{
    width:100%;
    min-width:1200px;
    height:100%;
    position:relative;
  }
  &-wrap{
    height:481px;
  }
  &-page{
    width:1200px;
    position:absolute;
    &-wrap{
      height:1990px;
    }

    &.page1{
      display:none;
      &.on{
        display:block;
      }
    }
    &.page2{
      display:none;
      &.on{
        display:block;
      }
    }
    &.page3{
      display:none;
      &.on{
        display:block;
      }
    }
  }


  &-image {
    width:714px;
    height:480px;
    float:left;

    &-list {
      width: 714px;
      height: 440px;
      position: relative;
      overflow: hidden;

      &-arrow{

        &.left{
          width:21px;
          height:36px;
          background:url("../images/left_arrow.png") no-repeat 0 0;
          position:absolute;
          top:46%;
          left:10px;
          z-index:2;
        }
        &.right{
          width:21px;
          height:36px;
          background:url("../images/right_arrow.png") no-repeat 0 0;
          position:absolute;
          top:46%;
          right:10px;
          z-index:2;
        }

      }



      &-item {
        width: 714px;
        height: 440px;
        display:block;
        position: absolute;
        top: 0;
        left: 0;


        &.center{
          transform: translate(0,0);
        }
        &.left{
          transform: translate(-100%,0);
        }
        &.right{
          transform: translate(100%,0);
        }
        &.ani{
          transition: transform 1s ease-out;
        }
      }

    }

    &-circle{
      width:117px;
      height:21px;
      margin:19px auto 0;


      @extend %clearfix;

      &-button{
        width:21px;
        height:21px;
        border-radius: 50%;
        background-color:#ddd;
        float:left;
        text-indent: -99999em;

        margin-right:27px;
        cursor: pointer;

        &:last-child{
          margin-right:0;
        }
      }
    }
  }

  &-right-wrap{
    width:408px;
    height:440px;
    float:right;
  }
  &-icon-wrap{
    width:353px;
    height:103px;

    @extend %clearfix;
  }

  &-icon {
    width:103px;
    height:103px;
    background:url(../images/img_sprite.png) no-repeat 0 0;
    float: left;
    text-indent:-99999em;
    margin-bottom:38px;
    cursor: pointer;
    &>a{
      display:block;
      padding:25px;
    }
  }

  &-name{
    font-size:30px;
    float:left;
    margin-bottom: 25px;
  }

  &-paragraph{
    float:left;
    line-height:1.5;
  }

}

.recipe{

  &-wrap{
    width:1200px;
  }
  &-name{
    font-size:52px;
    margin:30px 0 40px;
    text-align: center;
  }

  &-list{

    @extend %clearfix;

    &-item {
      width:350px;
      height:441px;
      float:left;
      margin-right: 75px;

      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9){
        margin-right:0;
      }
      &-paragraph{
        width: 350px;
        height: 105px;
        margin: 20px 0;
        float:left;
      }
    }
  }
}


.recipe-list-item-photo {
  width: 350px;
  height: 315px;
  overflow: hidden;
  display:block;
  float: left;
}