.contents-list-wrap-icon.bra1{
  background:url(../images/img_sprite.png) 0 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.contents-list-wrap-icon.bra2{
  background:url(../images/img_sprite.png) -72px 0 no-repeat;
  width:85px;
  height:81px;
  margin:0 0 45px 213px;
}
.bra-contents-image{
  background-image:url(../images/bra_3.jpg);
}