.contents-list-wrap-icon.italy1{
  background:url(../images/img_sprite.png) 0 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.contents-list-wrap-icon.italy2{
  background:url(../images/img_sprite.png) 0 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.italy-contents-image{
  background-image:url(../images/italy_3.jpg);
}