.contents-list-wrap-icon.thai1{
  background:url(../images/img_sprite.png) -158px 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.contents-list-wrap-icon.thai2{
  background:url(../images/img_sprite.png) -158px 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.thai-contents-image{
  background-image:url(../images/thai_3.jpg);
}