.contents-list-wrap-icon.usa1{
  background:url(../images/img_sprite.png) 0 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.contents-list-wrap-icon.usa2{
  background:url(../images/img_sprite.png) -158px 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.usa-contents-image{
  background-image:url(../images/usa_3.jpg);
}