.contents-list-wrap-icon.india1{
  background:url(../images/img_sprite.png) 0 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.contents-list-wrap-icon.india2{
  background:url(../images/img_sprite.png) 0 0 no-repeat;
  width:71px;
  height:85px;
  margin:0 0 45px 220px;
}

.india-contents-image{
  background-image:url(../images/india_3.jpg);
}