.res-map-image.india{
  background:url(../images/india_res1_map.jpg) no-repeat 0 0;
}
.res-map-image.india2{
  background:url(../images/india_res2_map.jpg) no-repeat 0 0;
}

.india-res-image{
  background-image:url(../images/india_2.jpg);
}
