.india-food-image{
  background-image:url(../images/india_1.jpg);
}


.food-icon.india-icon1-1 {
  background-position: 0 -294px;
  margin-right: 22px;
}

.food-icon.india-icon1-2 {
  background-position: -416px -294px;
  margin-right: 22px;
  &:hover{
    background-position:-104px -294px;
  }
}

.food-icon.india-icon1-3 {
  background-position: -520px -294px;
  &:hover{
    background-position:-208px -294px;
  }
}




.food-icon.india-icon2-1 {
  background-position: -312px -294px;
  margin-right: 22px;
  &:hover{
    background-position: 0 -294px;
  }
}

.food-icon.india-icon2-2 {
  background-position: -104px -294px;
  margin-right: 22px;
}

.food-icon.india-icon2-3 {
  background-position: -520px -294px;
  &:hover{
    background-position:-208px -294px;
  }
}





.food-icon.india-icon3-1 {
  background-position: -312px -294px;
  margin-right: 22px;
  &:hover{
    background-position: 0 -86px;
  }
}

.food-icon.india-icon3-2 {
  background-position: -416px -294px;
  margin-right: 22px;
  &:hover{
    background-position:-104px -294px;
  }
}

.food-icon.india-icon3-3 {
  background-position: -208px -294px;
}
