.italy-food-image{
  background-image:url(../images/italy_1.jpg);
}


.food-icon.italy-icon1-1 {
  background-position: 0 -86px;
  margin-right: 22px;
}

.food-icon.italy-icon1-2 {
  background-position: -416px -86px;
  margin-right: 22px;
}

.food-icon.italy-icon1-3 {
  background-position: -520px -86px;
}

.food-icon.italy-icon2-1 {
  background-position: 0 -86px;
  margin-right: 22px;
}

.food-icon.italy-icon2-2 {
  background-position: -416px -86px;
  margin-right: 22px;
}

.food-icon.italy-icon2-3 {
  background-position: -520px -86px;
}



.food-icon.italy-icon3-1 {
  background-position: 0 -86px;
  margin-right: 22px;
}

.food-icon.italy-icon3-2 {
  background-position: -416px -86px;
  margin-right: 22px;
}

.food-icon.italy-icon3-3 {
  background-position: -520px -86px;
}