.japan{
  &:before{
    content:"";
    display:block;
    width:104px;
    height:63px;
    background:url(../images/nation_jp.png) no-repeat 0 0;
    float:left;
    margin:0;
  }
}

.food {

  &-section{
    width:100%;
  }
  &-page{
    width:1200px;
    height:1980px;
  }
  &-wrap {
    height: 481px;

    &:after {
      content: "";
      display: block;
    }

    &-image-wrap {
      width: 714px;
      height: 441px;
      float: left;

      &-image {

      }
    }
  }

  &-image {
    width:714px;
    height:480px;
    float:left;

    &-list {
      width: 714px;
      height: 440px;
      position: relative;
      overflow: hidden;

      &-item {
        width: 714px;
        height: 440px;
        display:block;
        position: absolute;
        top: 0;
        left: 0;
      }

    }

    &-circle{
      width:117px;
      height:21px;
      margin:19px auto 0;


      @extend %clearfix;

      &-button{
        width:21px;
        height:21px;
        border-radius: 50%;
        background-color:#ddd;
        float:left;
        text-indent: -99999em;

        margin-right:27px;

        &:last-child{
          margin-right:0;
        }
      }
    }
  }

  &-right-wrap{
    width:408px;
    height:440px;
    float:right;
  }
  &-icon-wrap{
    width:353px;
    height:103px;

    @extend %clearfix;
  }

  &-icon {
    width:103px;
    height:103px;
    background:url(../images/img_sprite.png) no-repeat 0 0;
    float: left;
    text-indent:-99999em;
    margin-bottom:38px;

    &.icon-1{
      background-position:0 -86px;
      margin-right:22px;
    }

    &.icon-2{
      background-position:-104px -86px;
      margin-right:22px;
    }

    &.icon-3{
      background-position:-208px -86px;
    }

  }

  &-name{
    font-size:39px;
    float:left;
    margin-bottom: 25px;
  }

  &-paragraph{
    float:left;
    line-height:1.5;
  }

}

.recipe{

  &-wrap{

  }
  &-name{
    font-size:52px;
    margin:25px 0 65px;
    text-align: center;
  }

  &-list{

    @extend %clearfix;

    &-item {
      width:350px;
      height:441px;
      float:left;
      margin-right: 75px;

      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9){
        margin-right:0;
      }

      &-photo {
        width: 350px;
        height: 315px;
        float:left;
        text-indent: -99999em;

        &.recipe1-1{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_1.PNG) no-repeat 0 0;
          overflow: hidden;
        }
        &.recipe1-2{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_2.jpg) no-repeat 0 0;
          overflow: hidden;
        }
        &.recipe1-3{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_3.jpg) no-repeat 0 0;
          overflow: hidden;
        }
        &.recipe1-4{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_4.jpg) no-repeat 0 0;
          overflow: hidden;
        }
        &.recipe1-5{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_5.jpg) no-repeat 0 0;
          overflow: hidden;
        }
        &.recipe1-6{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_6.jpg) no-repeat 0 0;
          overflow: hidden;
        }
        &.recipe1-7{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_7.jpg) no-repeat 0 0;
          overflow: hidden;
        }
        &.recipe1-8{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_8.jpg) no-repeat 0 0;
          overflow: hidden;
        }
        &.recipe1-9{
          width: 350px;
          height: 315px;
          background: url(../images/jp_recipe1_9.jpg) no-repeat 0 0;
          overflow: hidden;
        }
      }
      &-paragraph{
        width: 350px;
        height: 105px;
        margin: 20px 0;
        float:left;
        line-height:1.55;
      }
    }
  }

}




.jp-food-image{
  background:url(../images/jp_b_image1.jpg) no-repeat;
background-attachment: fixed;
}

.jp-res-image{
  background:url(../images/jp_b_image2.jpg) no-repeat;
  background-attachment: fixed;
}

.jp-cont-image{
  background:url(../images/jp_b_image3.jpg) no-repeat;
  background-attachment: fixed;
}

.jp-event-image{
  background:url(../images/jp_b_image4.jpg) no-repeat;
  background-attachment: fixed;
}