.jp-food-image {
    background-image: url(../images/jp_1.jpg);
}


.food-icon.jp-icon1-1 {
  background-position: 0 -86px;
  margin-right: 22px;
}

.food-icon.jp-icon1-2 {
  background-position: -416px -86px;
  margin-right: 22px;
  &:hover{
    background-position:-104px -86px;
  }
}

.food-icon.jp-icon1-3 {
  background-position: -520px -86px;
  &:hover{
    background-position:-208px -86px;
  }
}




.food-icon.jp-icon2-1 {
  background-position: -312px -86px;
  margin-right: 22px;
  &:hover{
    background-position: 0 -86px;
  }
}

.food-icon.jp-icon2-2 {
  background-position: -104px -86px;
  margin-right: 22px;
}

.food-icon.jp-icon2-3 {
  background-position: -520px -86px;
  &:hover{
    background-position:-208px -86px;
  }
}





.food-icon.jp-icon3-1 {
  background-position: -312px -86px;
  margin-right: 22px;
  &:hover{
    background-position: 0 -86px;
  }
}

.food-icon.jp-icon3-2 {
  background-position: -416px -86px;
  margin-right: 22px;
  &:hover{
    background-position:-104px -86px;
  }
}

.food-icon.jp-icon3-3 {
  background-position: -208px -86px;
}
