  .recipe-list-item-photo.jp{

    &.recipe1-1 {
      background: url(../images/jp_recipe1_1.PNG) no-repeat 0 0;
    }
    &.recipe1-2 {
      background: url(../images/jp_recipe1_2.jpg) no-repeat 0 0;
    }
    &.recipe1-3 {
      background: url(../images/jp_recipe1_3.jpg) no-repeat 0 0;
    }
    &.recipe1-4 {
      background: url(../images/jp_recipe1_4.jpg) no-repeat 0 0;
    }
    &.recipe1-5 {
      background: url(../images/jp_recipe1_5.jpg) no-repeat 0 0;
    }
    &.recipe1-6 {
      background: url(../images/jp_recipe1_6.jpg) no-repeat 0 0;
    }
    &.recipe1-7 {
      background: url(../images/jp_recipe1_7.jpg) no-repeat 0 0;
    }
    &.recipe1-8 {
      background: url(../images/jp_recipe1_8.jpg) no-repeat 0 0;
    }
    &.recipe1-9 {
      background: url(../images/jp_recipe1_9.jpg) no-repeat 0 0;
    }

    &.recipe2-1 {
      background: url(../images/jp_recipe2_1.jpg) no-repeat 0 0;
    }
    &.recipe2-2 {
      background: url(../images/jp_recipe2_2.jpg) no-repeat 0 0;
    }
    &.recipe2-3 {
      background: url(../images/jp_recipe2_3.jpg) no-repeat 0 0;
    }
    &.recipe2-4 {
      background: url(../images/jp_recipe2_4.jpg) no-repeat 0 0;
    }
    &.recipe2-5 {
      background: url(../images/jp_recipe2_5.jpg) no-repeat 0 0;
    }
    &.recipe2-6 {
      background: url(../images/jp_recipe2_6.jpg) no-repeat 0 0;
    }
    &.recipe2-7 {
      background: url(../images/jp_recipe2_7.jpg) no-repeat 0 0;
    }
    &.recipe2-8 {
      background: url(../images/jp_recipe2_8.jpg) no-repeat 0 0;
    }

    &.recipe3-1 {
      background: url(../images/jp_recipe3_1.jpg) no-repeat 0 0;
    }
    &.recipe3-2 {
      background: url(../images/jp_recipe3_2.jpg) no-repeat 0 0;
    }
    &.recipe3-3 {
      background: url(../images/jp_recipe3_3.jpg) no-repeat 0 0;
    }
    &.recipe3-4 {
      background: url(../images/jp_recipe3_4.jpg) no-repeat 0 0;
    }
    &.recipe3-5 {
      background: url(../images/jp_recipe3_5.jpg) no-repeat 0 0;
    }
    &.recipe3-6 {
      background: url(../images/jp_recipe3_6.jpg) no-repeat 0 0;
    }
  }

  .jp-food-image {
    background: url(../images/jp_b_image1.jpg) no-repeat;
  }

