.res-map-image.jp{
  background:url(../images/jp_res1_map.jpg) no-repeat 0 0;
}
.res-map-image.jp2{
  background:url(../images/jp_res2_map.jpg) no-repeat 0 0;
}

.jp-res-image{
  background-image:url(../images/jp_2.jpg);
}