.res-map-image.thai{
  background:url(../images/thai_res1_map.jpg) no-repeat 0 0;
}
.res-map-image.thai2{
  background:url(../images/thai_res2_map.jpg) no-repeat 0 0;
}

.thai-res-image{
  background:url(../images/thai_2.jpg);
}