.res-map-image.usa{
  background:url(../images/usa_res1_map.jpg) no-repeat 0 0;
}
.res-map-image.usa2{
  background:url(../images/usa_res2_map.jpg) no-repeat 0 0;
}

.usa-res-image{
  background-image: url(../images/usa_2.jpg);
}